# /etc/systemd/system/gracc-apel-cron.service
[Unit]
Description=Cronjob for gracc-apel.service
Requires=gracc-apel.service
After=gracc-apel.service

[Service]
Type=oneshot
# Execute cron inside the 'gracc-apel.service' container as user 'apache'
ExecStart=/bin/docker run -v /etc/grid-security/apel/apelcert.pem:/etc/grid-security/apel/apelcert.pem -v /etc/grid-security/apel/apelkey.pem:/etc/grid-security/apel/apelkey.pem opensciencegrid/gracc-apel

