
html, body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}

#page {
    display: table;
    padding: 0px 0px 0px 0px;
    margin: 0;
    width: 100%;
}

#left_column {
    display: table-cell;
    vertical-align: top;
    width: 250px;
    background: #ffff99;
    padding: 10px 10px 10px 10px;
}

#main {
    display: table-cell;
    vertical-align: top;
    padding: 5px 20px 5px 20px;
}

.box {
    float: left;
    padding: 30px 30px 0px 0px;
}


.warning {
    padding: 30px 30px 30px 30px;
    background: #ffdddd;
}
