---
name: Build and push container images

on:
  push:
  pull_request:
  workflow_dispatch:
  repository_dispatch:
    types: [dispatch-build]

jobs:
  make-date-tag:
    runs-on: ubuntu-latest
    outputs:
      dtag: ${{ steps.mkdatetag.outputs.dtag }}
    steps:
      - name: make date tag
        id: mkdatetag
        run: echo "::set-output name=dtag::$(date +%Y%m%d-%H%M)"

  build-image-list:
    runs-on: ubuntu-latest
    outputs:
      images: ${{ steps.image-list.outputs.json }}
    steps:
      - uses: actions/checkout@v2

      - id: image-list
        run: |
          if [[ $GITHUB_EVENT_NAME == 'pull_request' ]] ||
             [[ $GITHUB_EVENT_NAME == 'push' ]]; then
               git fetch origin "${GITHUB_BASE_REF:=${{ github.event.before}}}" --depth=1
               images=$(git diff --name-only "$GITHUB_BASE_REF" "$GITHUB_SHA")
          else
               images=$(find . -type d -printf "%P\n")
          fi
          image_json=$(echo "$images" |
                       fgrep opensciencegrid/ |
                       cut -d/ -f -2 |
                       sort |
                       uniq |
                       head -c -1 |
                       jq -Rcs '.|split("\n")')
          echo "::set-output name=json::$image_json"

  build:
    runs-on: ubuntu-latest
    needs: build-image-list
    # Prevent a single build failure from killing the workflow.
    # This is safe since subsequent pushes should fail on cache load
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.build-image-list.outputs.images) }}
        yum_repo: ['development', 'testing', 'release']
        osg_series: ['3.5', '3.6']
    steps:
      - uses: opensciencegrid/build-container-action@v0.3.0
        with:
          osg_series: ${{ matrix.osg_series }}
          repo: ${{ matrix.yum_repo }}
          context: ${{ matrix.image }}

  push:
    runs-on: ubuntu-latest
    if: >-
      github.ref == 'refs/heads/main' &&
      github.event_name != 'pull_request' &&
      github.repository_owner == 'opensciencegrid'
    needs: [make-date-tag, build-image-list, build]
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.build-image-list.outputs.images) }}
        yum_repo: ['development', 'testing', 'release']
        osg_series: ['3.5', '3.6']
        registry:
          - url: hub.opensciencegrid.org
            username: OSG_HARBOR_ROBOT_USER
            password: OSG_HARBOR_ROBOT_PASSWORD
          - url: docker.io
            username: DOCKER_USERNAME
            password: DOCKER_PASSWORD
    steps:
      - uses: opensciencegrid/push-container-action@v0.4.3
        with:
          repo: ${{ matrix.yum_repo}}
          osg_series: ${{ matrix.osg_series }}
          context: ${{ matrix.image }}
          registry_url: ${{ matrix.registry.url }}
          registry_user: ${{ secrets[matrix.registry.username] }}
          registry_pass: ${{ secrets[matrix.registry.password] }}
